<div id="post-{{post_id}}" class="card">
    <img class="card-image" src={{post_thumbnail}} alt="Missing Image">
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p clas="card-text">{{post_description}}</p>
        <a href="/post/{{post_id}}" class="anchor-buttons">Post Details</a>
    </div>
</div>