{{!-- /* 
    Filename: post-list.handlebars

    Purpose: Formats content post list 

    Author: Yoshimasa Iwano, Team: 07

    Course: CSC648 SFSU

 */ --}}

<tr>
    <th scope="col">{{post_id}}</th>
    <th scope="col"><a href="/posts/{{post_id}}">{{title}}</a></th>
    <th scope="col">$ {{price}}</th>
    <th scope="col">{{date}}</th>
    <th scope="col">{{post_description}}</th>
</tr>
