<!--- 
    Filename: message.handlebars

    Purpose: Message Author Form 

    Author: Rai'd Muhammad, Team: 07

    Course: CSC648 SFSU
--->


{{!-- This page is the message page. Must be implemented when user is logged in --}}




<div class="container py-4 p-3">
    <h1 class="display-4 text-center font-weight-bold text-white bg-green ">Message Owner</h1> 
    <div class="row align-items-center justify-content-center my-4 mx-auto w-75">
        <div class="col-lg-6 d-lg-block px-2 mx-auto">
            {{#if (isVideo currentPost.post_category)}}
    <video muted playsinline 
    class="img-fluid"
  width="400" 
  controls controlslist="nodownload"
> 
  <source
    src={{currentPost.post_thumbnail}}
    type="video/mp4" /> </video>
    
    {{else}} {{#if (isMusic currentPost.post_category)}}
    
    <img src="{{currentPost.post_thumbnail}}" alt="PostImage" class="img-fluid">

    <audio class="card-image w-100"
        controls controlslist="nodownload" 
        src="../{{currentPost.post_path}}">
    </audio>
    
    
    {{else}} <img src="{{currentPost.post_thumbnail}}" alt="PostImage" class="img-fluid">{{/if}}{{/if}}
            
        </div>
        <div class="col-lg-6 px-5 mx-auto">
            <p class="my-2 text-center text-white display-4 p-2">{{currentPost.title}}</p>
            <div class="bg-success bg-opacity-25 py-2 my-3 rounded">
                <h4 style="color:white ;" class="px-2"> Owner: {{currentPost.username}}</h4>
            </div>
            <div class="bg-success bg-opacity-25 py-2 my-3 rounded">
                <h4 style="color:white ;" class="px-2"> Description:</h4>
                <h4 style="color:white ;" class="px-2">{{currentPost.post_description}}</h4>
            </div>
            <div class="bg-success bg-opacity-25 py-2 my-3 rounded">
                <h4 style="color:white ;" class="px-2">Price: {{currentPost.price}}</h4>
            </div>   
        </div>

    </div>
</div>


<section class="container ">
    <h1 class="h1-responsive font-weight-bold text-center my-4 text-white bg-green">Message Owner Form</h1>
    <div class="row justify-content-center w-75 mx-auto">
        <!--Grid column-->
        <div class="col-md-12 mb-md-2 mb-3">
            <form id="contact-form" name="contact-form">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0 text-center text-white ">
                            <label for="name" class="">
                                <h4>Your name</h4>
                            </label>
                            <input type="text" id="name" name="name" class="form-control">

                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-3 text-center text-white">
                            <label for="email" class="">
                                <h4>Your email</h4>
                            </label>
                            <input type="text" id="email" name="email" class="form-control">

                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-3 text-center text-white">
                            <label for="subject" class="">
                                <h4>Subject</h4>
                            </label>
                            <input type="text" id="subject" name="subject" class="form-control">

                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form text-center text-white ">
                            <label for="message">
                                <h4>Enter your Message</h4>
                            </label>
                            <textarea type="text" id="message" name="message" rows="4"
                                class="form-control md-textarea"></textarea>

                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>
            <br>
            <div class="text-center text-md-left">
                <a class="btn btn-success btn-lg " onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>

    </div>
</section>

{{!-- Footer --}}
{{!-- <footer class="pb-3 text-white">
    <div class="container text-center">
        <a href="/about-team" class="text-decoration-none">
            <p class="font-italic mb-0 text-white py-2">SFSU CSC648 Team 7</p>
        </a>
    </div>
</footer> --}}